{extend name="template/base_default"}
{block name="header"}
<link rel="stylesheet" href="__CSS__/common.css">
<link rel="stylesheet" href="__CSS__/index/index.css">
{/block}
{block name="body"}
<div id="app"></div>

<div class="content">
    <a href="{:url('repair/report')}">
        <div class="index-item">
            <div class="index-item-pic"><img src="__IMG__/index/daoluqiangxiu.png" /></div>
            <span class="index-item-text">道路救援</span>
        </div>
    </a>
    <div class="index-item">
        <div class="index-item-pic"><img src="__IMG__/index/zhaogongzuo.png" /></div>
        <span class="index-item-text">找工作</span>
    </div>
    <div class="index-item">
        <div class="index-item-pic"><img src="__IMG__/index/weixiubaoyang.png" /></div>
        <span class="index-item-text">维修保养</span>
    </div>
    <div class="index-item">
        <div class="index-item-pic"><img src="__IMG__/index/ershouche.png" /></div>
        <span class="index-item-text">二手车</span>
    </div>
    <a href="{:url('shop/product_kind')}"><!--product_kind-->
        <div class="index-item">
            <div class="index-item-pic"><img src="__IMG__/index/qipeishangcheng.png" /></div>
            <span class="index-item-text">汽配商城</span>
        </div>
    </a>
    <div class="index-item">
        <div class="index-item-pic"><img src="__IMG__/index/laosiji.png" /></div>
        <span class="index-item-text">老司机</span>
    </div>
</div>
{include file="template/nav_bar"}
{/block}
{block name="footer"}
<script type="text/javascript">
    var index_carousel = {$banners};
</script>
<script type="text/javascript" src="__JS__/index/common.js"></script>
{/block}